<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlExpressConnectionString"
         connectionString="data source=.\SQLEXPRESS; initial catalog=master;
         integreated security= true"/>
    <add name="sqlConnectionString" connectionString="data source=.; initial catalog=master;
         integreated security= true"/>
  </connectionStrings>
</configuration>